/Lista5exercicio3andre/nbproject/private/
/Lista5exercicio3andre/build/
/Lista5exercicio11andre/nbproject/private/
/Lista5exercicio11andre/build/
/Lista5exercicio13andre/nbproject/private/
/Lista5exercicio13andre/build/
/Lista5exercicio4andre/nbproject/private/
/Lista5exercicio4andre/build/
/Lista6exercicio2andre/nbproject/private/
/Lista6exercicio2andre/build/
/Lista6exercicio3andre/nbproject/private/
/Lista6exercicio3andre/build/
/Lista5exercicio5andre/nbproject/private/
/Lista5exercicio5andre/build/
/Lista5exercicio6andre/nbproject/private/
/Lista5exercicio6andre/build/
sh.exe.stackdump
/Lista7exercicio2andre/nbproject/private/
/Lista7exercicio2andre/build/
/Lista7exerciciocontatoamdre/nbproject/private/
/Lista7exerciciocontatoamdre/build/
sh.exe.stackdump
sh.exe.stackdump