/Lista5exercicio3andre/nbproject/private/
/Lista5exercicio3andre/build/
/Lista5exercicio11andre/nbproject/private/
/Lista5exercicio11andre/build/
/Lista5exercicio13andre/nbproject/private/
/Lista5exercicio13andre/build/